@{
    ViewBag.Title = "EditProductView";
}
@model ASPEx_2.Models.AdminViewModels

<h2>EditProductView</h2>

<div>
    <link href="@Url.Content("~/Content/EditCategoryStyleSheet.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/background.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>

    <div class="parent">

        <div  id="formDiv" class="child">
            <div id="formSection" class="form-style-5">
            @using (Ajax.BeginForm(new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "formSection"
            }))
            {
                if (ViewBag.Name != null)
                { 
                    <fieldset>
                    <legend><span class="number"></span>Product edit form</legend>
                    <input id="name" type="text" value="@ViewBag.Name" name="nameField" placeholder="Name *" />
                                      <textarea id="description" name="descriptionField" style="height:150px" placeholder="Description">@ViewBag.Description</textarea>
                   
                    <br />
                    <input type="file" id="fileUpload" />
                    <br />
                    <input type="text" value="@ViewBag.FileName.Replace('\\', '/')" name="filePathField" id="filePath"  readonly/>
                    <br />
                    @{ string imageLocation = "/Filestore" + ViewBag.FileName.Replace('\\', '/');
                    <img id="imagePreview" height="42" src="@imageLocation" width="42" alt="Preview" />
                    }
                    <br />
                        <br />
                        <input type="hidden" name="isEditField" value="true" />
                    <input id="price" type="text" value="@ViewBag.Price" name="priceField" placeholder="Price *" />
                    <label for="job">Category:</label>
                        <select id="job" name="categoryField">
                            @{int value = 1; }
                            @foreach (var item in Model.GetCategoriesList())
                            {
                                <option value="@value">@item.Name</option>
                                value = value + 1;
                            }
                        </select>

                    <button id="submitBtn" onclick="applyButtonClicked()">Apply</button>
                </fieldset>
                        }
                        else
                        {
                            <fieldset>
                                <legend><span class="number"></span>Product edit form</legend>
                                <input id="name" type="text" name="nameField" placeholder="Name *" />
                                <textarea id="description" name="descriptionField" style="height:150px" placeholder="Description"></textarea>

                                <br />
                                <input type="file" id="fileUpload" />
                                <br />
                                <input type="text"  name="filePathField" id="filePath"  readonly/>
                                <br />
                                <img id="imagePreview" height="42" width="42" alt="Preview" />
                                <br />
                                <br />
                                <input type="hidden" name="isEditField" value="false" />
                                <input id="price" type="text" name="priceField" placeholder="Price *" />
                                <label for="job">Category:</label>
                                <select id="job" name="categoryField">
                                    @{int value = 1; }
                                    @foreach (var item in Model.GetCategoriesList())
                                    {
                                        <option value="@value">@item.Name</option>
                                        value = value + 1;
                                    }
                                </select>
                                <button id="submitBtn" onclick="applyButtonClicked()">Apply</button>
                            </fieldset>
                                        }
                                    }
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader          = new FileReader();

            reader.onload       = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#fileUpload").change(function () {
        var filePath = $('#fileUpload').val();
        filePath = filePath.split("\\")[2];
        filePath = "\\Product\\" + filePath.split('.')[0] + "\\" + filePath;

        document.getElementById("filePath").value = filePath;
        readURL(this);
    });
</script>