@{
    ViewBag.Title = "Category list";
}

@model ASPEx_2.Models.CategoryModels

<link href="background.css" rel="stylesheet" />

<div id="MainPageDiv">
    <br />
    <h2>Category List</h2>
    @{  if (Session["CurrentUserRole"] != null)
        {
            <button id="createRight" onclick="@("window.location.href='" + @Url.Action("EditCategoryView", "CategoryList") + "'");" class="pull-right btn btn-info"> Create new category </button>
        }
    }
    <br />
    <div class="jumbotron">

        <table id="table" class="table">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Description</td>
                <td>Image</td>
                @{  if (Session["CurrentUserRole"] != null)
                    {
                        <td>Actions</td>
                    }
                }
                
            </tr>
            @foreach (var category in Model.GetCategoriesList())
            {
            <tr>
                <td>@category.ID</td>
                @{ if (category.Name.Length > 20)
                    {
                        <td><a href="ShowCategoryView?id=@category.ID">@category.Name.Substring(0, 17) ...</td>
                    }
                    else
                    {
                        <td><a href="ShowCategoryView?id=@category.ID">@category.Name</td>
                    }
                }
                @{ if (category.Description.Length > 25)
                    {
                        <td><a href="ShowCategoryView?id=@category.ID">@category.Description.Substring(0, 17) ...</td>
                    }
                    else
                    {
                        <td><a href="ShowCategoryView?id=@category.ID">@category.Description</td>
                    }
                }
                
                @{ string filename= "/Filestore" + category.ImageName.Replace('\\', '/');
                <td><img height="100" width="100" src="@filename" /></td>
                }
                <td>
                @{  if (Session["CurrentUserRole"] != null)
                    {
                        <a href="EditCategoryView?id=@category.ID"><i class="glyphicon glyphicon-edit"></i></a>    <a href="DeleteCategoryView?id=@category.ID"><i class="glyphicon glyphicon-trash"></i></a>
                    }
                    
                }</td>
            </tr>
                    }
        </table>

    </div>
</div>